/* Car.css */

.car-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Fundo branco */
  }
  
  .car-infos-and-img {
    flex: 1;
    padding-right: 20px;
  }
  
  .car-infos-and-img h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .car-infos-and-img h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #555; /* Cor do texto cinza */
  }
  
  .car-infos-and-img img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .car-actions-and-dates {
    flex: 1;
    padding-left: 20px;
  }
  
  .date-form {
    display: flex;
    flex-direction: column;
  }
  
  .date-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .date-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .car-actions-and-dates p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .rent-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: black; /* Botão azul */
    color: white; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  .rent-button:hover{
    background-color: #333333;
  }
  
  /* Estilização adicional conforme necessário */
  