@charset "UTF-8";

nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 30px;
}

ul#active-menu {
  background-color: rgb(28, 28, 28);
  list-style-type: none;
  display: none;
}

li {
  padding: 10px;
}

li:hover {
  background-color: rgb(75, 75, 75);
}

.header-links {
  text-decoration: none;
  color: white;
}

#menu-icon {
  color: white;
  scale: 1.5;
  cursor: pointer;
}

#x-icon {
  color: white;
  scale: 1.5;
  cursor: pointer;
  display: none;
}

#uber-logo {
  height: 20px;
}

.hide{
  display: none;
}

@media only screen and (min-width: 768px) {
    
  #div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .header-links {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  .header-links:hover {
    color: rgb(206, 206, 206);
    scale: 1.05;
    transition: all 0.2s ease-in-out;
  }

  header > nav {
    display: flex;
    gap: 40px;
  }

  .user-actions {
    color: rgb(133, 133, 133);
  }

  #menu-icon{
    display: none;
  }

  #x-icon{
    display: none;
  }

  ul#active-menu{
    display: none;
  }
}